<div class="sidenav" [ngClass]="!collapsed ? 'sidenav-collapsed': ''">
  <div class="titre">
   <div class="home-container">
    <img
        width="150"
        class="m-3 text-left"
        src="assets/spotify_light.png"
        alt="spotify light logo"
      />
    </div>
  </div>

  <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
          <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <i class="sidenav-link-icon" [class]="data.icon"></i>

              <span class="sidenav-link-text" >
                  {{data.label}}
              </span>
          </a>
      </li>
  </ul>
</div>
